<h2>Category: <%= @category.name %></h2>

<%= link_to '[Back]', categories_path %>
<div class='transactions'>
<table class="table table-striped table-bordered ">
    <thead>
      <tr>
        <th>Month</th>
        <th>Amount</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <% @month_transactions.keys.sort.reverse.each do |month| %>
            <tr>
            <td><%= month.strftime("%B %Y") %></td>
            <% month_bal = 0.0 %>
            <% for transaction in @month_transactions[month] %>
                <% month_bal += transaction.amount %>
            <% end %>
            <td><%= number_to_currency(month_bal) %></td>
            <td></td>
            </tr>
        <% end %>
    </tbody>
</table>
<br />


